/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&family=Roboto:wght@300;400;500;700&display=swap');

*::after,
*::before,
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/***** SideBar *****/
.instructor {
    background-color: #fff;
    color: black;
}

.instructor img {
    filter: brightness(0);
}

/***** End SideBar *****/


/***** Main Content *****/
.wrapper {
    display: grid;
    grid-template-columns: auto 1fr;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100dvh;
    padding: 0 20px;
    background-color: #ffffff;
}

nav {
    width: 100%;
    padding: 20px 0 5px;
    border-bottom: 3px solid rgba(22, 22, 22, 0.17);
}

nav h1 {
    font-size: 1.4rem;
    color: #3d3d3d;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

main .addInstructorSection {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 40px;
}

main .addInstructorSection button {
    padding: 10px 14px;
    border-radius: 12px;
    text-transform: uppercase;
}

main .main-content {
    width: 90%;
}

tr {
    font-size: 1.2rem;
}

/* dropdown container */
.dropdown {
    position: relative;
    display: inline-block;
}

.action {
    width: 3px;
}

/* Style for the button to open the dropdown */
.dropbtn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 15px;
    margin-top: -5px;
    margin-left: 140%;
}

/* Style for the dropdown content (hidden by default, it will only appear if u click  the dots) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    font-size: 1rem;
    left: -30px;
}



.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: rgb(0, 0, 0);
    cursor: pointer;
}


.dropdown-content a:hover {
    background-color: #f1f1f1;
}

nav h1 a {
    /* Your CSS styles for the links here */
    text-decoration: none;
    /* Remove underlines, adjust as needed */
    color: #3d3d3d;

    /* Change link color as needed */
    /* Add other styles as needed */
}

nav h1 a:hover {
    /* CSS styles for link hover state */
    color: #00557e;
    /* Change link color on hover as needed */
}

/***** End Main Content *****/

/* Modal */

.deleteModal {
    width: 100%;
    height: 100vh;
    z-index: 999;
    background: #00000085;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

.deleteModal .modalContainer {
    margin: 10vh auto;
    width: 30%;
    height: 250px;
    min-width: 600px;
    max-width: 700px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    /* transform: translateY(-100%);
    transition: transform .4s ease-out; */
}

/* .deleteModal .show {
    transform: translateY(0);
} */

.deleteModal h1 {
    padding: 10px;
    width: 100%;
    border-bottom: 1px solid #979797;
    color: rgb(255, 255, 255);
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 1.5rem;
    background-color: #ec1010;
}

.deleteModal .deleteContent {
    width: 100%;
    padding: 10px 20px 25px 20px;
    text-align: center;
}