/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/***** SideBar *****/
.student {
    background-color: #fff;
    color: black;
}

.student img {
    filter: brightness(0);
}

/***** End SideBar *****/

.wrapper {
    display: flex;
    background-color: #f0f0f0;
}

.sidebar {
    width: 250px;
    background-color: #333;
    color: white;
    padding: 20px;
}

.content {
    flex: 1;
    padding: 20px;
    background-color: #101010;
    color: white;

}

.main {
    display: flex;
    flex-direction: column;
    width: calc(100% - 250px);
}

h1 {
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table,
th,
td {
    border: 1px solid #ccc;
}

th,
td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #333;
    color: white;
}

button {
    background-color: #333;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

.add-student-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
    margin-left: 45%;
}

.add-student-button:hover {
    background-color: #0056b3;
}

.success {
    color: #3c763d;
    background-color: #d4edda;
    border: 1px solid #3c763d;
    padding: 10px;
    margin-top: 20px;
}

.error {
    color: #a94442;
    background-color: #f2dede;
    border: 1px solid #a94442;
    padding: 10px;
    margin-top: 20px;
}

nav {
    width: 100%;
    padding: 10px 0 5px;
    border-bottom: 3px solid rgb(227 227 227 / 17%);
}

nav h1 {
    font-size: 1.4rem;
    color: #fafafa;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

.table-container {
    width: 100%;
    max-height: 630px;
    overflow: auto;
    scrollbar-width: thin;
    /* For Firefox */
    scrollbar-color: #333 #666;
    /* For Firefox */
}

/* WebKit (Chrome, Safari, Edge) scrollbar styles */
.table-container::-webkit-scrollbar {
    width: 10px;
}

.table-container::-webkit-scrollbar-thumb {
    background: #333;
}

.table-container::-webkit-scrollbar-thumb:hover {
    background: #666;
}

/* Firefox scrollbar styles */
.table-container::-webkit-scrollbar-track {
    background: #666;
}

.table-container::-webkit-scrollbar-thumb {
    background: #333;
}

.table-container::-webkit-scrollbar-thumb:hover {
    background: #666;
}

/* ADD STUDENT PAGE CSS */
.content form {
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    padding: 15px 20px;
    width: 50%;
    margin: 10px auto;
}

.content form input {
    padding: 5px;
    outline: none;
}

.content form label {
    margin-top: 5px;
}

.content form button {
    margin-top: 15px;
}

.content .cancel {
    width: 100%;
    text-align: center;
    background-color: rgb(236, 37, 37);
    margin-top: 10px;
    padding: 5px;
    cursor: pointer;
    transition: all .5s ease;
}

.content .cancel:hover {

    background-color: rgb(255, 103, 103);

}

/* END OF ADD STUDENT PAGE CSS */