@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&family=Open+Sans:wght@800&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to left, rgba(0, 0, 0, 0.284), rgba(0, 0, 0, 0.316)), url('https://png.pngtree.com/thumb_back/fh260/background/20200728/pngtree-modern-high-tech-wavy-line-abstract-background-with-blue-and-orange-image_366648.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
}

form {
    background-color: rgba(0, 0, 0, 0.325);
    border: none;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    margin: 5% auto;
    height: 50vh;
    overflow: hidden;
    min-width: 230px;
    min-height: 500px;
    max-width: 400px;
}

legend {
    margin: 0 0 20px 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: x-large;
    color: rgb(255, 255, 255);
}

form input[type="text"],
[type="password"] {
    width: 80%;
    height: 2em;
    margin: 0 0 15px 0;
    padding: 5.8%;
    border-radius: 3px;
    border: .5px solid white;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
    font-size: .92em;
    background-color: rgba(255, 255, 255, 0.952);
    outline: none;
}


form input[type="submit"] {
    background-color: rgba(45, 18, 84, 0.781);
    border-radius: 3px;
    padding: 3%;
    width: 80%;
    border: none;
    color: rgb(245, 245, 245);
    text-transform: uppercase;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    outline: none;
    cursor: pointer;
    border-radius: 2rem;

}

form input[type="submit"]:focus {
    outline-width: .1px;
    outline-style: solid;
}

#signUp {
    color: rgba(239, 239, 239, 0.874);
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 1vh;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: small;
    cursor: pointer;
}

#signUp:focus {
    outline-width: .1px;
    outline-style: dashed;
}

#formChild {
    max-width: 80%;
    max-height: 100%;
}